<a href="https://colab.research.google.com/github/Tarciso-Cavalcanti/UFPB-Python/blob/main/Tarciso_Cavalcanti_Lista_de_exerc%C3%ADcios_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Segunda Unidade
##1º Lista de exercícios 

Exercícios com base na aula presencial do dia 09/05 e deverá ser enviado até domingo (15/05). Dessa maneira, vocês podem me enviar o link dessa lista respondida (lembrar de autorizar qualquer pessoa com link de visualizar) ou fazer o download do arquivo (Arquivo > Fazer download > Fazer download do .ibynb) e me enviar por e-mail.

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1,2,3,4,5,6,7,8,9,10]; lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
clubes = ['Liverpool','Real Madrid','Milan','PSG','Borussia']; clubes

['Liverpool', 'Real Madrid', 'Milan', 'PSG', 'Borussia']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string (com um espaço entre elas)
a='Bom ' ; b='dia!!' ; a+b

'Bom dia!!'

In [ ]:
# Exercício 4 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo um inteiro, o terceiro um float e quarto um booleano.
# Imprima a lista na tela.
lista2 = ['maçã',7,3.5,True]; lista2

['maçã', 7, 3.5, True]

In [ ]:
# Exercício 5 - Considere a string abaixo. Imprima na tela apenas o nome "atuaria".
curso = "ciências atuariais"
curso[9:16]

'atuaria'

In [ ]:
# Exercício 6 - Crie uma variável tipo inteira e converta para tipo float.
x=3.5; x_int = int(x); type(x_int)

int

In [ ]:
# Exercício 7 - Faça uma divisão retorando um número inteiro como resultado
x=15//4; x

3

In [ ]:
# Exercício 8 - Imprima a frase "Palmeiras não tem mundial" cinco vezes, através de código e sem digitar mais de uma vez a frase. 
frase = 'Palmeiras não tem mundial\n'; print(frase*5)

Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial

In [ ]:
# Exercício 9 - Crie cada uma das 5 classes de variaveis ensinadas e imprima o tipo da variavel (sem escrever o nome da variável).
i = 7; ii = 3.5; iii = 'fruta'; iv = ['pera','maçã','uva']; v = True
type(i), type(ii), type(iii), type(iv), type(v)

(int, float, str, list, bool)

In [ ]:
# Exercício 10 - Dada a lista de compras abaixo, substitua maças por bananas 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado[3] = "bananas"; listadomercado

['ovos', 'farinha', 'leite', 'bananas']

In [ ]:
# Exercício 11 - Print a lista de compras abaixo, sem o item "ovos" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.remove('ovos'); listadomercado

['farinha', 'leite', 'maças']

In [ ]:
# Exercício 12 - Dada a lista de compras abaixo, adicione cerveja, carne e carvão (#sextou) e imprima a nova lista.
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.append('cerveja'); listadomercado.append('carne'); listadomercado.append('carvão'); listadomercado

['ovos', 'farinha', 'leite', 'maças', 'cerveja', 'carne', 'carvão']

In [ ]:
# Exercício 13 - Print a lista de compras abaixo, sem o item "farinha" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.remove('farinha'); listadomercado

['ovos', 'leite', 'maças']

In [ ]:
# Exercício 14 - Arredonde a variável x para 1.
x = 9 / 10
round(x)

1